v2.0.0/sdk/android/timeiq/.idea
v2.0.0/sdk/android/timeiq/.gradle
*.iml
v2.0.0/sdk/android/timeiq/build/intermediates/dex-cache
v2.0.0/samples/android/timeiq/.gradle
v2.0.0/samples/android/timeiq/.idea
local.properties
