menu "Properties"

config SERVICES_QUARK_SE_PROPERTIES
	bool "Client"
	select CFW

config SERVICES_QUARK_SE_PROPERTIES_IMPL
	bool "Server"
	select CFW
	select STORAGE_TASK
	select QUARK_SE_PROPERTIES_STORAGE

config TCMD_SERVICES_QUARK_SE_PROPERTIES
	bool "Test command"
	depends on TCMD
	depends on SERVICES_QUARK_SE_PROPERTIES_IMPL

endmenu
