CONFIG_BOARD_CURIE_CRB=y
CONFIG_BOARD_DIRECTORY="$(BOOTLOADER_ROOT)/board/intel/crb/"
CONFIG_CHIP_VENDOR_INTEL=y
CONFIG_CHIP_QUARK_SE=y
CONFIG_CORE_QUARK=y
CONFIG_X86=y
CONFIG_IOAPIC=y
CONFIG_LAPIC=y

CONFIG_CLOCK_SPEED=32000000


CONFIG_USB=y
CONFIG_USB_DEVICE=y
CONFIG_USB_DFU_VID=0x8087
CONFIG_USB_DFU_PID=0x0a99
CONFIG_USB_DFU=y

CONFIG_MISC=y
CONFIG_GPIO=y
CONFIG_DNX=y
CONFIG_SWD=y
CONFIG_DNX_TIMEOUT_S=10

# temporary implementation
CONFIG_USB_DWC_3_10B=y

# Features
CONFIG_HARDWARE_CHARGING=y
CONFIG_BATT_THRESHOLD_MV=3300
CONFIG_PANIC_DUMP=y
CONFIG_PANIC=y

CONFIG_OTA=y
CONFIG_COMP_LZG=y

CONFIG_CRYPTO=y
CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_ECDSA=y

CONFIG_SECURE_BOOT=y
CONFIG_SECURE_UPDATE=y
CONFIG_SIGNATURE_HEADER_SIZE=0x80

# Hardware
# CONFIG_INTERRUPT_MODE is not set
# CONFIG_TIMER is not set
# CONFIG_SERIAL is not set
# CONFIG_RTC is not set
# CONFIG_WATCHDOG is not set
CONFIG_SPI=y
CONFIG_SPI_MASTER=SPI_0
CONFIG_MTD=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_MX25U12835F=y
CONFIG_SPI_FLASH_MX25=y
CONFIG_CACHE_PARTITION=y
# CONFIG_I2C is not set
