CONFIG_BOARD_CURIE_CTB=y
CONFIG_BOARD_DIRECTORY="$(BOOTLOADER_ROOT)/board/intel/ctb/"
CONFIG_CHIP_VENDOR_INTEL=y
CONFIG_CHIP_QUARK_SE=y
CONFIG_CORE_QUARK=y
CONFIG_X86=y
CONFIG_IOAPIC=y
CONFIG_LAPIC=y


CONFIG_USB=y
CONFIG_USB_DEVICE=y
CONFIG_USB_DFU_VID=0x8087
CONFIG_USB_DFU_PID=0x0a99
CONFIG_USB_DFU=y

CONFIG_QUARK_SE_SWITCH_INTERNAL_OSCILLATOR=y

CONFIG_MISC=y
CONFIG_GPIO=y
CONFIG_DNX=y
CONFIG_SWD=y
CONFIG_DNX_TIMEOUT_S=10

# temporary implementation
CONFIG_USB_DWC_3_10B=y

# Features
CONFIG_PANIC_DUMP=y
CONFIG_PANIC=y

CONFIG_CRYPTO=y
CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_ECDSA=y

CONFIG_SECURE_BOOT=y
CONFIG_SECURE_UPDATE=y
CONFIG_SIGNATURE_HEADER_SIZE=0x80

# Hardware
# CONFIG_INTERRUPT_MODE is not set
# CONFIG_TIMER is not set
# CONFIG_SERIAL is not set
# CONFIG_RTC is not set
# CONFIG_WATCHDOG is not set
# CONFIG_SPI is not set
# CONFIG_I2C is not set
