CONFIG_CFW=y
CONFIG_QUARK_SE=y
CONFIG_CURIE_CTB=y
CONFIG_SERVICES_QUARK_SE_BATTERY=y
CONFIG_SERVICES_QUARK_SE_PROPERTIES=y
CONFIG_SERVICES_QUARK_SE_STORAGE=y
CONFIG_SERVICES_QUARK_SE_GPIO=y
CONFIG_SERVICES_QUARK_SE_ADC=y
CONFIG_CFW_SERVICES_TEST=y
CONFIG_CFW_TEST_SERVICE=y
CONFIG_CFW_CLIENT=y
CONFIG_CFW_SERVICE=y
CONFIG_UI_SERVICE=y
CONFIG_OS_LINUX=y
CONFIG_LIST=y
CONFIG_INFRA=y
CONFIG_LOG=y
CONFIG_LOG_PRINTK=y
CONFIG_HOST_TEST_FW=y
