config BOARD_CURIE_CTB
	bool "Curie Test Board (CTB)"
	select CURIE

if BOARD_CURIE_CTB

# Set the default for this option, which is already defined in the Kconfig above
config MACHINE_INCLUDE_PATH
	string
	default     "$(T)/bsp/include/machine/board/curie_ctb/$(CONFIG_CORE_NAME)/"

# internal regulators are used in ctb board
config QUARK_SE_DISABLE_INTERNAL_VREG
	bool
	default n

config BATT_ADC_FACTOR
        int "Battery ADC factor"
	default 110

config FG_USE_SS_GPIO
        bool "Fuel gauge SS gpio usage"
        default y

config FG_EN_GPIO_ID
	int "GPIO Index for FG Enable pin"
	default 14

endif
